<configuration>
    <!-- Console 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--    &lt;!&ndash; 파일로 로그 기록 설정 &ndash;&gt;-->
    <!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>app.log</file>-->
    <!--        <append>true</append>-->
    <!--        <encoder>-->
    <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!-- Logger 설정 -->
    <logger name="com.custommacro" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <!--        <appender-ref ref="FILE"/>-->
    </logger>

    <!-- Root Logger 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
